.map1{
	position: relative;
}

.maps1 {

	width:100%;

}

.marker{
	position: absolute;
	margin:0px;
	width: 100px;
animation-name:hinge;
	animation-duration:0.5s;
	animation-delay: 7s;
	  -webkit-animation-fill-mode: forwards;
}


.old{
	width:100%;
	background-color: gold;
	border-width: 150px;
	border-radius:0px 100px 100px 100px;
border: solid 20px gold ;
z-index: 2;
animation-name:tada;
	animation-duration:3s;
	animation-delay: 3s;
	  -webkit-animation-fill-mode: forwards;
}
.oldtext{
	font: 15px courier dodgerblue;
	font-style: italic;
	background-color: goldenrod;
	animation-name:hinge;
	animation-duration:2s;
	animation-delay: 2s;
	  -webkit-animation-fill-mode: forwards;
}
.opening{
	background-color: peru;
	width:90%;
	z-index: 3;
	position: absolute;
	height:50%;
	border-radius: 20px;
	border: dashed lightgoldenrodyellow 20px;
	text-align: center;
	margin: 40px;
	display:none;
	}

	@font-face {
    font-family: Rope;
    src: url('Rope.ttf');
}
p {
	padding-top: 200px;
	font-family: Rope; 
	font-size: 120px;
	font-color: antiquewhite;
	animation-name:hinge;
	animation-duration:2s;
	animation-delay: 2s;
	  -webkit-animation-fill-mode: forwards;
}
.forards{
	transparency:100%;
	
}



